header{
    background-color: rgba(116, 6, 131, 0.733);
    padding: 1em;
}
footer{
    background-color: #f2ab;
    padding: 1em;
    text-align: center;
}
.fh{
    background-color:rgb(45, 121, 22);
}
.ipe{
    background-color:coral;
}
.par{
    background-color:salmon;
}
.igs{
    background-color:rgb(0, 128, 85);
}
.iso{
    background-color:rgb(129, 63, 173);
}
.sos{
    background-color:pink;
}
.gbd{
    background-color:olive
}
.pgs{
    background-color:aqua;
}
.lm{
    background-color:lightgreen;
}
.dgs{
    background-color:orange;
}